---
BasedOnStyle:                           Mozilla
ColumnLimit:                            100
IndentWidth:                            4
ContinuationIndentWidth:                4
TabWidth:                               4
UseTab:                                 Never
AccessModifierOffset:                   -4
PointerAlignment:                       Middle
BreakBeforeBraces:                      Custom
BraceWrapping:
  AfterClass:                           false
  AfterControlStatement:                false
  AfterEnum:                            true
  AfterFunction:                        true
  AfterNamespace:                       false
  AfterObjCDeclaration:                 false
  AfterStruct:                          true
  AfterUnion:                           true
  BeforeCatch:                          false
  BeforeElse:                           true
  IndentBraces:                         false
AlwaysBreakBeforeMultilineStrings:      true
#AlignAfterOpenBracket:                  AlwaysBreak
---
Language:               Cpp
Standard:               Cpp11
Cpp11BracedListStyle:   true
SpacesInAngles:         true
