---
BasedOnStyle: LLVM
---
Language: Cpp
AccessModifierOffset: -4
AlignEscapedNewlines: DontAlign
AllowAllParametersOfDeclarationOnNextLine: true
BreakBeforeBraces: Linux
ColumnLimit: 100
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Right
...
