# These are currently the only two things that
# show up in a srcdir != builddir build.
/docs/libdnf/version.xml
/libdnf/dnf-version.h
build
*.pyc
data/tests/modules/yum.repos.d/test.repo
libdnf/config-64.h
