[Unit]
Description=Repository configuration management daemon

[Service]
Type=dbus
BusName=org.rpm.dnf.v1.rpm.RepoConf
User=root
ExecStart=/usr/bin/dnf-repoconfig-daemon
